# Web Framework
fastapi
uvicorn[standard]
python-multipart

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai

# Vectorstore
pinecone

# PDF Parsing
PyPDF

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Database & Authentication
pymongo==4.10.1
dnspython>=2.6.1
certifi>=2024.0.0
bcrypt

# UI (if required)
streamlit